/* CSS Document */
/*主體*/
html{

}

body{  
    margin:0px 0px 0px 0px;
    text-align: center;
	background-color:#efefef;
	background-attachment:fixed;
	background-repeat:repeat;
    color:#666666;
	font-family:Verdana, Geneva, sans-serif;
}
ul {padding:0;margin:0;}
li {list-style-position:inside;}
h1, h2, h3 { padding:0;margin:0; font-weight:normal;}
	   
/*連結*/
A {
	color: #999966;
	text-decoration: none;
}
A:link {
	color:#936f4a;
	text-decoration:none;
}
A:visited {
	color:#936f4a;
	text-decoration:none;
}
A:active {
	color:#936f4a;
	text-decoration:none;
}
A:hover {
	color: #c0c0c0;
	text-decoration:none;
}


/*定位框*/
#wrap{}
#container {
        position:relative;
        text-align: left;
        width:970px;
		padding:0px;
	    margin:10px auto;
		background:url(http://s.blog.xuite.net/_image/skin/background/211/blogBg.jpg) repeat-y center;
		border:0px solid #6e6e6e;
		overflow:hidden;
}

	   
/*檔頭*/
#banner{
	margin: 0px;
	padding: 0px;
	height: 120px;
	background:url(http://s.blog.xuite.net/_image/skin/background/211/blogBg_1.jpg) no-repeat center top;
	display:block;
}

/*左欄*/
#linksLeft{                           
		display:none;
}
 
/*右欄*/
#linksRight{          
    right:0px;                         
    width: 195px;
    margin: 5px 10px 0px 5px;
	float:right;
	display:inline;
}

	
/*中間欄*/
#mid{
   width:750px;
   float:left;
   margin-left:7px;
   padding: 0;
   display:inline;
}

/*檔尾*/
#footer{
    clear: both;
	text-align:center;
	font-size: 12px;
	color:#C18746;
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	line-height: 16px;
	bottom:0px;
	height:65px;
	border-top:0px dotted #cccccc;
	background:url(http://s.blog.xuite.net/_image/skin/background/211/blogBg_2.jpg) no-repeat center;
	padding-top:15px;
}

/*欄位名稱*/
.sidetitle{
	padding:2px 2px 2px 10px;
	border: #d9de89 1px solid;
	border-bottom:0px;
	font-weight:bold;
	background-color:#ede8c8;
	color:#929292;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	letter-spacing:0.1em;
	font-size:13px;
	margin-top:5px;
}
/*欄位內容*/
.side{
	background:#ffffff;
	border: #d9de89 1px solid;
	font-size:12px;
	font-weight:normal;
	line-height:140%;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding:4px;
}

.side li{                                              
 margin-left: 20px;
 list-style-position: outside;
}


/*空白*/
.spacer{
	clear:both;
}
/******************************************/
/*檔頭class*/

/*日誌名稱*/
.blogname{
	font-size: 15px;
	font-weight: normal;
	color: #455236; 
	padding-left:30px;
	padding-top:0px;
	width:500px;
}
.blogname a:link{ color:#333333;}
.blogname a:visited{ color:#333333;}
.blogname a:hover{ color:#ffffff;}

/*今日心情*/
.blogemotion{
	
}
/*日誌描述*/
.description{
	font-size: 12px;
	color: #ffffff; 
	padding-left:30px;
	width:500px;
}
/*選單列*/
.menulist{
	padding-top:15px;
	width:100%;
	height:60px;
}
/*選單*/
.menu{
	padding-top:10px;
	float:right;
	padding-right:160px;
}

.menu a:link{
   color:#333333;
}
.menu a:visited{
   color:#333333;
}
.menu a:hover{
   color:#ffffff;
}

/*Logo*/
.logo{
	visibility:visible;
   float:left;
}



/******************************************/
/*中間欄位class*/

/*文章外框*/
#content{
    padding: 5px 0;
	margin: 0px 5px;
	background-color:#ffffff;
}

/*文章標題列*/
.title{
	width:100%;
	height:25px;
    background:url(http://s.blog.xuite.net/_image/skin/windows/211/title.gif) repeat-x;
	padding-top:5px;
}
/*文章標題名稱*/
span.titlename{
	font-size:15px;
	color:#636363;
	font-weight:normal;
	padding-left:5px;
}
/*文章日期*/ 
span.titledate{
	float:left;
	height:25px;
	padding-left:5px;
	font-family: "Georgia";
	font-weight:bold;
	font-size: 15px;
	color: #929292;
}
/*文章評價列*/
.blogrank{
	width:100%;
	line-height:200%;
	margin-top:5px;
	color:#636363;
}
/*文章瀏覽數*/
span.counter{
    background:url(http://s.blog.xuite.net/_image/skin/list/bulletCounter.gif) no-repeat;
    float:right;
    margin:5px;
    padding:2px 0 0 20px;
    width:auto;
	color: #999999;
}

/*文章分類*/
span.category{
background:url(http://s.blog.xuite.net/_image/skin/list/bulletContentArticle.gif) no-repeat;
float:right;
margin:5px;
width:auto;
padding:2px 0 0 20px;
}

/*文章標籤*/
.tags{}
.tags a:link{
   color:#936f4a;
}
.tags a:visited{
   color:#936f4a;
}
.tags a:hover{
   color:#999999;
}

/*文章主體*/
.blogbody{
	word-wrap: break-word;
	width:99%;
	overflow:hidden;
	color:#666666;
	line-height:20px;
	font-size:12px;
}
/*作者列*/
.posted{
	width:100%;
	text-align:right;
	font-size:12px;
	clear:both;
}
/*上下文章*/
.selectbar{
	width:100%;
	text-align:center;
	font-size:12px;
}
/*引用列*/
.trackbacktitle{
    position:relative; 
	width:100%;
	margin-top:20px;
	margin-bottom:5px;
	border-top:1px dotted #cccccc;
	border-bottom:1px dotted #cccccc;
    font-size: 12px;
	color: #CC6600;
	height:24px;
	background:#FEFAED;
}


/*引用網址*/
.trackbackurl{
	width:100%;
	background:#F2F2F2;
	padding-top:20px;
	padding-bottom:20px;
	text-indent:10px;
}
/*引用日期*/
.trackbackdate{
	width:100%;
	text-align:right;
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	color: #7A75B9;
}
/*引用內容*/
.trackbackcontent{
	width:100%;
	line-height:150%;
	margin-top:5px;
	border-bottom:1px dotted #cccccc;
}
/*留言列*/
.comment{
	width:100%;
	border-top:1px dotted #cccccc;
	border-bottom:1px dotted #cccccc;
    font-size: 12px;
	color: #CC6600;
	height:24px;
	margin-top:20px;
	padding-top:5px;
	padding-bottom:5px;
	background:#FEFAED;
}
/*留言名稱*/
span.commenttitle{
	padding-left:20px;
    background:url(http://s.blog.xuite.net/_image/bulletMessageList.gif) no-repeat;
    width:auto;
}

/*留言按鈕*/
span.commentbutton{
	float:right;
}
/*留言作者列*/
.author{
	width:100%;
}
/*留言作者名稱*/
span.authorname{
}
/*留言日期*/
span.commentdate{
	float:right;
	text-align:right;
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	color: #7A75B9;
}
/*留言內容*/
.commenttext{
    word-wrap: break-word;
	width:100%;
	margin-top:10px;
	margin-bottom:10px;
	line-height:18px;
}
/*留言編輯按鈕*/
.commentedit{
	width:100%;
	border-bottom:1px dotted #cccccc;
}
/*留言者信箱*/
span.email{
	
}

/*瀏覽方式切換*/
.ArticleShowMode {
    margin-bottom:10px;
}
/*列表模式 */
.singleArticle{
}
.singleArticle ul{
   padding-left:20px;
}
.singleArticle li{ 
    list-style-position:inherit;
   line-height:200%;
}



/******************************************/
/*左欄class*/
/*關於我*/
.avatar{   /* 2006-05-09 修改 */
	background:#ffffff;
	border: #d9de89 1px solid;
	font-size:12px;
	font-weight:normal;
	line-height:140%;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding:5px;
}
/* 2009/09 新 關於我 區塊 */
#avatarContent {width:99%;text-align:center;display:block;word-break:break-all ;}
#avatarAddMe {width:96px;height:2em;margin:0 auto;}
#avatarAddMe img {float:left;}
#personalLink {height:6em;width:94px;padding:0px; margin:10px auto;display:block;}
#personalLink li {list-style-type:none;float:left;height:1.7em;margin:0 4px 0 0;padding:2px 0 0 16px;width:auto;display:block;}
#personalLink li img {margin:1px 2px 0px 0px;vertical-align:top;}
li.pblog{background:url(http://img.xuite.net/portal/common/icons/blog.gif) no-repeat center left;}
li.pphoto{background:url(http://img.xuite.net/portal/common/icons/photo.gif) no-repeat center left;}
li.pvlog{background:url(http://img.xuite.net/portal/common/icons/vlog.gif) no-repeat center left;}
li.pboard{background:url(http://img.xuite.net/portal/common/icons/gbook.gif) no-repeat center left;}
li.pfriend{background:url(http://img.xuite.net/portal/common/icons/friend.gif) no-repeat center left;}
li.plink{background:url(http://img.xuite.net/portal/common/icons/card.gif) no-repeat center left;}
/*照片*/
.avatarPhoto{
	text-align:center;
}
/*帳號*/
.avatarID{
display:none;
}
/*我的描述*/
.avatarDesciption{
	color:#7f7f7f;
	word-wrap:break-all;
	overflow:hidden;
	width: 170px;
}
/*關於我按鈕*/
.avatarbutton{
	
}


/*文章分類*/
.categoryTitle li{
	/*list-style-image:url(http://s.blog.xuite.net/_image/skin/list/bulletCategory.gif);*/
	list-style-type:none;
}

.categoryTitle{
}
.categorySide li{
	list-style-image:url(http://s.blog.xuite.net/_image/blogIcon19.gif);
}

.categorySide{
}


/*日曆*/
.calendarTitle li{
	/* list-style-image:url(http://s.blog.xuite.net/_image/skin/list/bulletCalendar.gif); */
	list-style-type:none;
}
.calendarTitle{
}
.calendarSide li{
	list-style-image:url(http://s.blog.xuite.net/_image/blogIcon19.gif);
}
.calendarSide{
}
/*日曆table*/
.calMonth{
	width:92%;
}
/*日曆首列*/
.calMonthNav{
}
/*日曆上個月*/
.calMonthBackward{
}
/*日曆目前顯示年月*/
.calMonthCurrent{
    font-size: 12px;
	font-weight: bold;
	color: #000000;
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
}
/*日曆下個月*/
.calMonthForward{
    color: #FF0000;
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
}
/*日曆星期列*/
.calMonthHeader{
}
/*日曆日欄*/
.calMonthDay{
    font-size: 10px;
	color: #999999;
	text-align:center;
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
}
/*日曆今日日期*/
.calMonthToday{
    font-size: 11px;
    text-align:center;
}
/*日曆假日日期*/
.calholiday{
	font-size: 11px;
	color: #FF3300;
	text-align:center;
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
}
.calendarbutton{
	text-align:right;
}
/*搜尋文章*/
.searchTitle li{
	/* list-style-image:url(http://s.blog.xuite.net/_image/skin/list/bulletSearch.gif); */
	list-style: none;
}
.searchTitle{
}
.searchSide{
text-align:center;
}
.searchbutton{
	text-align:center;
	padding:2px;
}


/*我的哈拉室*/
.chatTitle li{
	/* list-style-image:url(http://s.blog.xuite.net/_image/skin/list/bulletChat.gif); */
	list-style: none;
}
.chatTitle{
}
.chatSide{
}
/*已建立的日誌*/
.bloglistTitle li{
	/* list-style-image:url(http://s.blog.xuite.net/_image/skin/list/bulletBlogList.gif); */
	list-style: none;
}
.bloglistTitle{
}
.bloglistSide li{
	list-style-image:url(http://s.blog.xuite.net/_image/blogIcon19.gif);
}

.bloglistSide{
}
/*訂閱電子報*/
.epaperTitle li{
	/* list-style-image:url(http://s.blog.xuite.net/_image/skin/list/bulletEpaper.gif); */
	list-style: none;
}
.epaperTitle{
}
.epaperSide{
	text-align:center;
}
.epaperbutton{
	text-align:center;
	padding:2px;
}

/*自由欄位*/
.customTitle li{
	/* list-style-image:url(http://s.blog.xuite.net/_image/skin/list/bulletCustom.gif); */
	list-style: none;
}
.customTitle{
}
.customSide{
}
/*日誌使用資源*/
.resourceTitle li{
	/* list-style-image:url(http://s.blog.xuite.net/_image/skin/list/bulletBlogResource.gif); */
	list-style: none;
}
.resourceTitle{
}
.resourceSide{
	text-align:center;
}
/*留言塗鴉版*/
.paintTitle li{
	/* list-style-image:url(http://s.blog.xuite.net/_image/skin/list/bulletPaint.gif); */
	list-style: none;
}
.paintTitle{
}
.paintSide{
	text-align:center;
}

/******************************************/
/*右欄class*/
/*背景音樂*/
.musicTitle li{
	/* list-style-image:url(http://s.blog.xuite.net/_image/skin/list/bulletMusicBox.gif); */
	list-style: none;
}
.musicTitle{
}
.musicSide{
}
.musicbutton{
	text-align:left;
	padding:2px;
}


/*最新文章*/
.articleTitle li{
	/* list-style-image:url(http://s.blog.xuite.net/_image/skin/list/bulletArticleList.gif); */
	list-style: none;
}
.articleTitle{
}
.articleSide li{
	list-style-image:url(http://s.blog.xuite.net/_image/blogIcon19.gif);
}
.articleSide{
}
/*最新留言*/

.messageTitle li{
	/* list-style-image:url(http://s.blog.xuite.net/_image/skin/list/bulletMessageList.gif); */
	list-style: none;
}

.messageTitle{
}

.messageSide{

}

.date {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	color: #7A75B9;
}
/*參觀人次統計*/
.countTitle li{
	/* list-style-image:url(http://s.blog.xuite.net/_image/skin/list/bulletCounter.gif); */
	list-style: none;
}
.countTitle{
}
.countSide{
}
/*我的訂閱*/
.rssrollTitle li{
	/* list-style-image:url(http://s.blog.xuite.net/_image/skin/list/bulletRssRoll.gif); */
	list-style: none;
}
.rssrollTitle{
}
.rssrollSide li{
	list-style-image:url(http://s.blog.xuite.net/_image/blogIcon19.gif);
}
.rssrollSide{
}
.backbtn li{
  list-style-image:url(http://s.blog.xuite.net/_image/blog038.gif);
  }
.backbtn{
  text-align:right;
}

.morebtn{
    background:url(http://s.blog.xuite.net/_image/blog037.gif) no-repeat;
    width:auto;
    padding-left:20px;
    float:right;
}
/*日誌評價*/
.rankTitle li{
	/* list-style-image:url(http://s.blog.xuite.net/_image/skin/list/bulletRank.gif); */
	list-style: none;
}
.rankTitle{
}
.rankSide{
}
/*已建立的相簿*/
.albumTitle li{
	/* list-style-image:url(http://s.blog.xuite.net/_image/skin/list/bulletAlbum.gif); */
	list-style: none;
}
.albumTitle{
}
.albumSide{
}
/*最愛連結*/
.linkTitle li{
	/* list-style-image:url(http://s.blog.xuite.net/_image/skin/list/bulletLink.gif); */
	list-style: none;
}
.linkTitle{
}
.linkSide li{
	list-style-image:url(http://s.blog.xuite.net/_image/blogIcon19.gif);
}
.linkSide{
}


/*個人項目---- 2006-5-11 Modify*/
.personallink{
	display: block;
	width:170px;
	margin:0px 0px 0px 0px;
}

/*關於我*/
.plink ul{
list-style-type:none;
margin:0 0px;
padding:0px 2px 0px 20px;
word-wrap: break-word; 
display: block; 
float:left; 
}
.plink li{ 
padding:0 0 0 0px;
margin:0px 0px 0px 0px;
list-style-image:url(http://s.blog.xuite.net/_image/blogIcon19.gif);
}
.plink{
padding:0 0 0 0px;
WIDTH: 90px;
}

/*我的相簿*/
.pphoto ul{
list-style-type:none;
margin:0 0px;
padding:0px 2px 0px 20px;
word-wrap: break-word; 
display: block; 
float:left; 
}
.pphoto li{ 
padding:0 0 0 0px;
margin:0px 0px 0px 0px;
list-style-image:url(http://s.blog.xuite.net/_image/blogIcon19.gif);
}
.pphoto{
padding:0 0 0 0px;
WIDTH: 90px;
}
/*我的影音*/
.pvlog ul{
list-style-type:none;
margin:0 0px;
padding:0px 2px 0px 20px;
word-wrap: break-word; 
display: block; 
float:left; 
}
.pvlog li{ 
padding:0 0 0 0px;
margin:0px 0px 0px 0px;
list-style-image:url(http://s.blog.xuite.net/_image/blogIcon19.gif);
}
.pvlog{
padding:0 0 0 0px;
WIDTH: 90px;
}
/*加入好友*/
.pfriend ul{
list-style-type:none;
margin:0 0px;
padding:0px 2px 0px 20px;
word-wrap: break-word; 
display: block; 
float:left; 
}
.pfriend li{ 
padding:0 0 0 0px;
margin:0px 0px 0px 0px;
list-style-image:url(http://s.blog.xuite.net/_image/blogIcon19.gif);
}
.pfriend{
padding:0 0 0 0px;
WIDTH: 90px;
}

/*我的留言板*/
.pboard ul{
list-style-type:none;
margin:0 0px;
padding:0px 2px 0px 20px;
word-wrap: break-word; 
display: block; 
float:left; 
}
.pboard li{ 
padding:0 0 0 0px;
margin:0px 0px 0px 0px;
list-style-image:url(http://s.blog.xuite.net/_image/blogIcon19.gif);

}

.pboard{
padding:0 0 0 0px;
WIDTH: 90px;
}



/*文章分類---- 2006-5-12 Modify*/
.pTitle li{
	/* list-style-image:url(http://s.blog.xuite.net/_image/skin/list/bulletPersonal.gif); */
	list-style-type:none;
}

.pTitle{
}	


/*欄位名稱---- 2006-5-12 Modify*/
.personaltitle{
	padding:2px 2px 2px 10px;
	border: #d9de89 1px solid;
	border-bottom:0px;
	font-weight:bold;
	background-color:#ede8c8;
	color:#929292;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	letter-spacing:0.1em;
	font-size:13px;
}
	

/*下方換頁-----2007-04-02*/
.page {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 12px;
	color: #7f7e52;
	line-height: 24px;
	vertical-align:middle;
}
.page a:link, .page a:visited, .page a:active {
	font-size: 12px;
	color: #4D4C1E;
	line-height: 24px;
	text-decoration: none;
}
.page a:hover {
	font-size: 12px;
	color: #7f7e52;
	line-height: 24px;
	text-decoration: underline;
}

/*留言回覆邊框*/
.reply_info{
	width: 90%;
	border: 2px dashed #dbc2a6;
	padding: 1.2em 1.2em;
	margin: 1.2em;
}

/*我的好友&我的好友樹*/
.friendTitle li{
	list-style: none;
}
.friendTitle{
}
.LoveFriendSide{
	text-align: center;
}
.LoveFriendSide select{
	color: #666666;
	font-size: 11px;
	/* background-color: #FCE7E2; */
}

/*最愛日誌*/
.LoveBlogTitle li{
	list-style: none;
}
.LoveBlogTitle{
}
.LoveBlogSide{
	text-align:center;
}
.LoveBlogSide select{
	color: #666666;
	font-size: 11px;
	/* background-color:#FCE7E2; */
}
/*好文轉寄*/
span.mail{
    background:url(http://s.blog.xuite.net/_image/skin/list/email_forward.gif) no-repeat;
    float:right;
    margin-top:5px;
    padding:2px 0 0 20px;
    width:auto;
}

/*我的發燒文*/
.hotArticleTitle {
}
.hotArticleTitle li{
	list-style-image: none;
	list-style-type:none;
}

/*我的親友團*/
.myChannelTitle {
}
.myChannelTitle li{
	list-style-image: none;
	list-style-type:none;
}

.gText{color: #838383;}
.rank{color: #838383; float:left;}

/*日誌背景音樂*/
.BackgroundMusicTitle{
}
.BackgroundMusicTitle li{
	list-style-image: none;
	list-style-type:none;
}
/*我的留言板*/
.gbookTitle{
}
.gbookTitle li{
    list-style-image: none;
	list-style-type:none;
}
/*誰拜訪過我*/
#visitorTitle{
}
#visitorTitle li{
    list-style-image: none;
	list-style-type:none;
}

/* 2009/08 相關文章 */
.articleExt {
clear:both;
padding-top:10px;
border-top:1px solid #ccc;
}
/* 2009/09 推推 bookmark 區塊 */
.bookmark{
float:right;
}
/*隨機推薦文章*/
.ArticleRandomSide{
}
/*相關文章*/
#ArticleRelateSide{
}

/*服務切換tab*/
#service-list, .tab_service{
	position: absolute;
	width: 350px;
	left: 465px;
	top: 88px;
}
#service-list, .tab_service{
padding:0;
margin:0;
}
#service-list a{
	margin:0 1px 0 0;
	display:block;
	float:left;
	list-style-type:none;
	padding:6px;
	color:#960;
	cursor:pointer;
	background-color:#ebebc5;
}

#tab_select_blog{ }
#tab_select_photo{}
#tab_select_vlog{}
#tab_select_gbook{}
#tab_select_friend{}
#tab_select_card{}
#service-gbook{display:none;}/*2017留言版功能下架*/

/* 2009/09 新 回應 區塊 */
#commentSide{margin:4px 0px 4px 8px;padding:0px;}
li.commentBox {list-style-type:none;margin-left: 0 !important;margin-bottom: 5px;height:36px;text-indent:0 !important;}
li.commentBox img{width:32px;height:32px;border-style:solid;border-color:gray;border-width:1px;float:left;}
li.commentBox .content {margin-left: 36px;}
div.commentBody{font-size:1.2em;width:140px;overflow:hidden;text-overflow: ellipsis;white-space:nowrap;}
div.commentAuthor{font-size:0.8em;width:140px;overflow:hidden;text-overflow: ellipsis;white-space:nowrap;}
#service-list li{
float : left;
margin : 0;
padding : 0;
}